<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Menetrend szerver főoldala</title>
</head>
<body>
    <div id="nav_kontener">
        <li><a href="">Főoldal</a></li>
    </div>
    <div id="main-kontener">
        <h1>Menetrend szerver főoldala</h1>
    </div>
</body>
</html>