<div id="nav-kontener">
    <li><a href="/api">Főoldal</a></li>
    <li><a href="/api/schedules">Foglalt menetrendek</a></li>
    <li><a href="/api/schedules/newschedule">Új menetrend létrehozása</a></li>
</div>