<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <%- include('nav.ejs') %>
    <form action="/api/schedules/newschedule" method="POST">
  <label for="tipus">Közlekedési eszköz:</label>
  <input type="text" id="tipus" name="tipus" required /><br>

  <label for="induloallomas">Induló állomás:</label>
  <input type="text" id="induloallomas" name="induloallomas" required /><br>

  <label for="celallomas">Célállomás:</label>
  <input type="text" id="celallomas" name="celallomas" required /><br>

  <label for="idopontok">Időpontok (soronként egy):</label>
  <textarea id="idopontok" name="idopontok" rows="4"  required></textarea><br>

  <label for="allomasok">Állomások (soronként egy):</label>
  <textarea id="allomasok" name="allomasok" rows="4" required></textarea><br>

  <label for="kedvezmeny">Kedvezmény:</label>
  <input type="text" id="kedvezmeny" name="kedvezmeny" required /><br>

  <label for="kortabla">Körtábla:</label>
  <input type="text" id="kortabla" name="kortabla" required /><br>

  <label for="indulasideje">Indulás ideje:</label>
  <input type="text" id="indulasideje" name="indulasideje" required /><br>

  <label for="visszaideje">Visszaindulás ideje:</label>
  <input type="text" id="visszaideje" name="visszaideje" required /><br>

  <label><input type="checkbox" name="klima" value="true" /> Klíma</label>
  <label><input type="checkbox" name="helyjegy" value="true" /> Helyjegy</label><br>

  <button type="submit">Menetrend mentése</button>
  
</form>
<style>
  
  ul {
    margin-top: 4px;
    margin-bottom: 12px;
    padding-left: 20px;
  }
  li {
    line-height: 1.4;
  }
</style>
  </button>
</form>
</body>
</html>


