<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Új menetrend felvétele</title>
</head>
<body>
  <h1>Új menetrend felvétele</h1>
  <%- include('nav.ejs') %>

  <form action="/api/schedules/newschedule" method="POST" style="max-width: 400px; margin-bottom: 30px;">
    <label for="induloallomas">Indulás helye:</label>
    <input type="text" id="induloallomas" name="induloallomas" required style="width:100%; margin-bottom:10px;" />

    <label for="celallomas">Érkezés helye:</label>
    <input type="text" id="celallomas" name="celallomas" required style="width:100%; margin-bottom:10px;" />

    <label for="idopontok">Időpontok (soronként egy):</label>
    <textarea id="idopontok" name="idopontok" rows="5" style="width:100%; margin-bottom:10px;" placeholder="08:00&#10;12:00&#10;16:00"></textarea>

    <label for="allomasok">Állomások (soronként egy):</label>
    <textarea id="allomasok" name="allomasok" rows="5" style="width:100%; margin-bottom:10px;" placeholder="Kecskemét&#10;Cegléd&#10;Szeged"></textarea>


 
    <label for="kedvezmenyek">Kedvezmény:</label>

  <select name="Kedvezmények" id="kedvezmenyek" style="width:100%; margin-bottom:10px;">
  <option value="BKK bérletek és jegyek">BKK bérletek és jegyek (csak HÉV utazáshoz)</option>
  <option value="BKK munkavállaló 2. osztály">BKK munkavállaló 2. kocsiosztály</option>
  <option value="BKV munkavállaló 2. osztály">BKV munkavállaló 2. kocsiosztály</option>
  <option value="Ellátottak utazási utalványa">Ellátottak utazási utalványa (díjmentes)</option>
  <option value="FIP igazolvány 1. osztály">FIP igazolvány 1. oszt. (50%)</option>
  <option value="Fogyatékossággal élők igazolványa">Fogyatékossággal élők igazolványa (díjmentes)</option>
  <option value="GYSEV igazolvány 1. osztály">GYSEV igazolvány 1. oszt. (díjmentes)</option>
  <option value="GYSEV igazolvány 2. osztály">GYSEV igazolvány 2. oszt. (díjmentes)</option>
  <option value="GYSEV családtag 1. osztály">GYSEV igazolvány-családtag 1. oszt. (díjmentes)</option>
  <option value="GYSEV családtag 2. osztály">GYSEV igazolvány-családtag 2. oszt. (díjmentes)</option>
  <option value="Magyar igazolvány">Magyar Igazolvány, Magyar hozzátartozói Igazolvány (díjmentes)</option>
  <option value="Magyarország24 jegy">Magyarország24 jegy (díjmentes)</option>
  <option value="MÁV-START igazolvány 1. osztály">MÁV-START igazolvány 1. oszt. (díjmentes)</option>
  <option value="MÁV-START igazolvány 2. osztály">MÁV-START igazolvány 2. oszt. (díjmentes)</option>
  <option value="MÁV-START családtag 1. osztály">MÁV-START igazolvány-családtag 1. oszt. (díjmentes)</option>
  <option value="MÁV-START családtag 2. osztály">MÁV-START igazolvány-családtag 2. oszt. (díjmentes)</option>
  <option value="Menekültek igazolása">Menekültek igazolása (díjmentes)</option>
  <option value="Nagycsalád tagja">Nagycsalád tagja (díjmentes)</option>
  <option value="Nemzetközi bérlet 1. osztály">Nemzetközi bérlet, menetjegy 1. o. (díjmentes)</option>
  <option value="Nemzetközi bérlet 2. osztály">Nemzetközi bérlet, menetjegy 2. o. (díjmentes)</option>
  <option value="Országbérlet">Országbérlet</option>
  <option value="OSZZSD igazolvány">OSZZSD igazolvány magáncélú (díjmentes)</option>
  <option value="Rendőr igazolvány">Rendőr - készenléti igazolvány (203) (díjmentes)</option>
  <option value="U jelű igazolvány">U jelű, vagy azzal egyenértékű utazási igazolvány (díjmentes)</option>
  <option value="VOLÁN szabadjegy">VOLÁN szabadjegy (országos) (díjmentes)</option>

  
</select>



    <label for="kortabla">Kortábla:</label>
    <select name="Utasvelfetel" id="utasfelvetel">
      <option value="Kisgyerek_0_3">Kisgyerek (0-3 éves)</option>
      <option value="Kisgyerek_3_6">Kisgyerek (3-6 éves)</option>
      <option value="Gyerek_6_14">Gyerek (6-14 éves)</option>
      <option value="Gyerek_14_18">Gyerek [14-18 éves]</option>
      <option value="Fiatal_18_25">Fiatal [18-25 éves]</option>
      <option value="Nyugdijas_65plusz">
        Nyugdíjas/senior (65+ éves)
      </option>
      <option value="Kerekpar">Kerékpár</option>
      <option value="Kutya">Kutya</option>
    </select>
    <input type="date" name="szul.datum" id="szuldat" />
    <br />
    <br />


    <label for="indulasideje">Indulás ideje:</label>
    <input type="text" id="indulasideje" name="indulasideje" style="width:100%; margin-bottom:10px;" />

    <label for="visszaideje">Visszaideje:</label>
    <input type="text" id="visszaideje" name="visszaideje" style="width:100%; margin-bottom:10px;" />

    <label><input type="checkbox" name="klima" /> Klíma</label>
    <label><input type="checkbox" name="helyjegy" /> Helyjegy</label>

    <button type="submit" style="display:block; margin-top:15px; padding:10px 20px;">💾 Mentés</button>
  </form>
</body>
</html>
